.container{
  background-color:  #3e2723 ;
  border:5px solid green;
  box-sizing:content-box; 
}
.row > div{
  height: 200px;
  border:2px dotted black;
}
.r1c1{
  background-color: #088F8F;
}
.r1c2{
  background-color: Thistle;
}
.r2c1{
  background-color:   #e74c3c;
}
.r2c2{
  background-color:  #48c9b0 ;
}
.r3c1{
  background-color: #bb8fce;
}
.r3c2{
  background-color:   #c0ca33 ;
}